<div class="container-fluid bg-dark">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin">Admin panel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/admin/products">All products</a>
          <a class="nav-link" href="/admin/view-users">All Users</a>
          <a class="nav-link" href="#">All Orders</a>
          <a class="nav-link" href="#">Orders</a>
          <a class="nav-link" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</div>



<section>
  <div class="container-fluid" style="margin-top:60px">

    <div class="container">
      <a href="/admin/add-product" class=" btn btn-success float-end" role="button">Add Product</a>
    </div>

    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th>Image </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>


        {{#each products}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.name}}</td>
          <td>{{this.category}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td><img src="{{this.image}}" height="70px" alt="err"></td>
          <td>
            <a class="btn btn-danger" href="/admin/delete-product?id={{_id}}">Delete</a>
            <button class="btn btn-info" data-bs-toggle="modal"
              data-bs-target="#sendMessage-{{@index}}">Edit</button>
          </td>
        </tr>


        <div class="modal fade" id="sendMessage-{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <form id="time_form" action="/admin/update-product" method="POST">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" value="{{this.name}}" name="name" class="form-control" />
                        <label class="form-label" for="form6Example1">Name</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" name="category" value="{{this.category}}" class="form-control" />
                        <label class="form-label" for="form6Example2">Category</label>
                      </div>
                    </div>
                  </div>

                  <!-- Text input -->
                  <div class="form-outline mb-4">
                    <input type="text" value="{{this.price}}" name="price" class="form-control" />
                    <label class="form-label" for="form6Example3">Price</label>
                  </div>

                  <!-- Text input -->
                  <div class="form-outline mb-4">
                    <input type="text" value="{{this.description}}" name="description" id="form6Example4"
                      class="form-control" />
                    <label class="form-label" for="form6Example4">Description</label>
                  </div>

                  <!-- Email input -->

                  <div class="form-outline mb-4">
                    <input type="text" value="{{this.image}}" name="image" class="form-control" />
                    <label class="form-label" for="form6Example5">Image link</label>
                  </div>
                  <input type="hidden" name="id" value="{{_id}}"/>

                  {{!-- <div class="form-outline mb-4">
                    <input type="file" name="Image" class="form-control" />
                    <label class="form-label" for="form6Example5">Image</label>
                  </div> --}}


                  <!-- Submit button -->
                

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="dynamic_id" class="btn btn-primary">Save changes</button>
              </div>
              </form>
            </div>
          </div>
        </div>

                 
        {{/each}}


      </tbody>
    </table>
</section>
</div>